{% extends 'base.html' %}
{% load static %}

{% block title %}PTGAMES: Register{% endblock title %}

{% block all_placeholder %}{% endblock all_placeholder %}

{% block open %}
<div class="signin">
    <div class="signin__warp">
        <div class="signin__content">
            <div style="margin-bottom: 16px;">
                <div class="tm-site-text-box">
                    <a href="{% url 'home' %}"><h1 style="color:white" class="tm-site-title">PTGAMES</h1></a>
                </div>
            </div>
            <div class="signin__form">
                <ul class="nav nav-tabs" role="tablist">
                    <div class="container">
                        <div class="row">
                            <li class="nav-item col-md-12">
                                <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab"
                                   aria-selected="false">
                                    Регистрация
                                </a>
                            </li>
                            <li class="nav-item">
                        </div>
                    </div>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tabs-1" role="tabpanel">
                        <div class="signin__form__text">
                            <p>при помощи социальных сетей:</p>
                            <div class="signin__form__signup__social">
                                <a href="{% url 'social:begin' 'facebook' %}" class="facebook"><i class="fab fa-facebook"></i></a>
                                <a href="{% url 'social:begin' 'twitter' %}" class="twitter"><i class="fab fa-twitter"></i></a>
                            </div>
                            <div class="divide">или</div>
                            <form method="post">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <button type="submit" style="cursor: pointer;" class="site-btn">Зарегистрироваться</button>
                            </form>
                            <span><a href="{% url 'login' %}"><u style="color: black">Вход</u></a></span>
                        </div>
                        <a style="color: black;" href="{% url 'home' %}" class="far fa-arrow-alt-circle-left"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock open %}

{% block footer %}{% endblock footer %}